<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>LeadSite</title>
    <link
            rel="stylesheet"
            href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
</head>
<body>
<main class="container">
    <nav
            style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
        {% if user %}
            <ul>
                <li>
                    <a href="/" role="button" style="margin-left: 270px">Lead money</a>
                    <a href="/logoutuser" role="button" style="margin-left: 270px">Log Out</a>
                </li>
            </ul>
            </nav>
            <div class="" style="text-align: center; font-size: 40px">Hello I'm your money lover assistant</div>
            <div class="" style="text-align: center; font-size: 30px">Choose program:</div>
            <div class="grid">
                <form action="/show_savings">
                    <button type="submit" style="margin-top: 20px">Savings</button>
                </form>
                <form action="/show_expenses">
                        <button type="submit" style="margin-top: 20px">Expenses</button>
                </form>
                <form action="/add_expenses">
                    <button type="submit" style="margin-top: 20px">Add Expenses</button>
                </form>
                <form action="/add_savings">
                    <button type="submit" style="margin-top: 20px">Add Savings</button>
                </form>
            </div>
        {% else %}
            <ul>
                <li>
                    <a href="/" role="button" style="margin-left: 180px">Lead money</a>
                    <a href="/signup" role="button" style="margin-left: 170px">Sign Up</a>
                    <a href="/loginuser" role="button" style="margin-left: 180px">Login</a>
                </li>
            </ul>
        {% endif %}
</main>
</body>
</html>